body {
  margin: 0;
}

nav {
  height: 100vh;
  width: 190px;
  position: fixed;
  background-color: black;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: white;
  padding: 10px;
}

nav a:hover {
  background-color: red;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

section.home {
  margin-left: 180px;
  padding: 20px;
}

.logo {
  font-size: 20px;
  color: white;
  padding: 10px;
  text-align: center;
}

.home img {
  width: 4 00px;
  border-radius: 20px;
  transition: 1s ease;
}

.home img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

p {
  text-align: justify;
}
